{# Wyświetlanie informacji o zadaniu #}
<p>Tytuł: {{ task.title }}</p>
<p>Treść: {{ task.description }}</p>
<p>Autor: {{ task.taskOwner }}</p>
<p>Status:
    {% if task.taskStatus != null %}
        {{ task.taskStatus.name }}
    {% else %}
        Brak statusu
    {% endif %}
</p>
<p>Data utworzenia zadania: {{ task.createDate|date('Y-m-d H:i:s') }}</p>
<p>Termin realizacji:
    {% if task.dueDate != null %}
        {{ task.dueDate|date('Y-m-d H:i:s') }}
    {% else %}
        Brak
    {% endif %}
</p>
<p>Osoby przypisane do zadania:
<ul>
    {% for user in task.taskUsers%}
        <li>{{ user.username }}</li>
    {% endfor %}
</ul>
</p>
{% if task.project != null %}
    <p>Projekt: {{ task.project.title }}</p>
{% endif %}
{# Wyświetalnie przycisków akcji dla autora zadania #}
{% if task.taskOwner == app.user.username %}
    <button onclick="location.href='{{ path('editTask', {'id':task.id}) }}'">Edytuj zadanie</button>
    <button onclick="location.href='{{ path('removeTask', {'id':task.id}) }}'">Usuń zadanie</button>
{% endif %}
{# Opcja komentarzy dla użytkowników, którym przyznano zadanie, jeśli zadanie nie jest zakończone #}
{% for user in task.taskUsers %}
    {% if user == app.user.username and task.taskStatus.name != "Zakończone" %}
        <p>Dodaj komentarz</p>
        {{ form_start(comment) }}
        {{ form_widget(comment) }}
        {{ form_end(comment) }}
        <button onclick="location.href='{{ path('showTask', {'id':task.id, 'status':1}) }}'">Wykonaj zadanie</button>
    {% endif %}
{% endfor %}
<p>Dotychczasowe komentarze do zadania:</p>
{% for comment in comments %}
    <p>Autor: {{ comment.logUser.username }}<br>Treść: {{ comment.description }}</p>
{% endfor %}