{# Wyświetlanie informacji o zadaniu #}
<p>Tytuł: {{ task.title }}</p>
<p>Treść: {{ task.description }}</p>
<p>Autor: {{ task.taskOwner }}</p>
<p>Status:
    {% for status in task.taskStatus %}
            {{ status.name }}
        {% else %}
            Brak statusu
    {% endfor %}
</p>
<p>Data utworzenia zadania: {{ task.createDate|date('Y-m-d H:i:s') }}</p>
<p>Termin realizacji:
    {% if task.dueDate != null %}
        {{ task.dueDate|date('Y-m-d H:i:s') }}
    {% else %}
        Brak
    {% endif %}
</p>
{% if task.endDate != null %}
    <p>Data zakończenia: {{ task.endDate|date('Y-m-d H:i:s') }} </p>
{% endif %}
<p>Osoby przypisane do zadania:
<ul>
    {% for user in task.taskUsers%}
        {% for status in task.taskStatus %}
            <li>{{ user.username }} | Wykonane: {% if status.id != 1 %} Nie {% else %} Tak {% endif %}</li>
        {% endfor %}
    {% endfor %}
</ul>
</p>
{% if task.project != null %}
    <p>Projekt: <a href="{{ path('showProject', {'id':task.project.id}) }}">{{ task.project.title }}</a></p>
{% endif %}
{# Wyświetalnie przycisków akcji dla autora zadania #}
{% for status in task.taskStatus %}
    {% if app.user is defined %}
        {% if task.taskOwner == app.user %}
            {% if status.id != 1 %}
                <button onclick="location.href='{{ path('editTask', {'id':task.id}) }}'">Edytuj zadanie</button>
            {% endif %}
            <button onclick="location.href='{{ path('removeTask', {'id':task.id}) }}'">Usuń zadanie</button>
        {% endif %}
{# Opcja komentarzy dla użytkowników, którym przyznano zadanie, jeśli zadanie nie jest zakończone #}
        {% for user in task.taskUsers %}
            {% if user == app.user and (status.id != 1) %}
                <p>Dodaj komentarz</p>
                {{ form_start(comment) }}
                {{ form_widget(comment) }}
                {{ form_end(comment) }}
                <button onclick="location.href='{{ path('showTask', {'id':task.id, 'status':1}) }}'">Wykonaj zadanie</button>
            {% endif %}
        {% endfor %}
        {% else %}
            {% if task.taskOwner == app.user %}
                <button onclick="location.href='{{ path('editTask', {'id':task.id}) }}'">Edytuj zadanie</button>
                <button onclick="location.href='{{ path('removeTask', {'id':task.id}) }}'">Usuń zadanie</button>
                {# Opcja komentarzy dla użytkowników, którym przyznano zadanie, jeśli zadanie nie jest zakończone #}
            {% endif %}
            {% for user in task.taskUsers %}
                {% if user == app.user %}
                    <p>Dodaj komentarz</p>
                    {{ form_start(comment) }}
                    {{ form_widget(comment) }}
                    {{ form_end(comment) }}
                    <button onclick="location.href='{{ path('showTask', {'id':task.id, 'status':1}) }}'">Wykonaj zadanie</button>
                {% endif %}
            {% endfor %}
    {% endif %}
{% endfor %}
<p>Dotychczasowe komentarze do zadania:</p>
{% for comment in comments %}
    <p>Autor: {{ comment.logUser.username }}<br>Treść: {{ comment.description }}</p>
{% endfor %}